/* HEADER SECTION */

header {
	background-color: #000000;
}

#logo {
	display: block;
	margin: auto;
	width: 70%;
}

#logo-line {
	padding-top: 1%;
}

#listen {
	display: block;
	width: 40%;
	float: right;
	margin: 8% 10% 0 0 ;
}

#socialMedia {
	margin: 8% 0 0 10%;
}

.socialIcons {
	width: 10%;
}

nav {
	margin-top : -1%;
}

#nav-center ul {
	text-align: center;
}

#nav-center ul li {
	float: none;
	display: inline;
}

#nav-center ul li a {
	display: inline-block;
}



/*HOMEPAGE */

#homeinfo {
	width: 70%;
	display: block;
	margin: auto;
}

p {
	margin-bottom: 2%;
}

.carousel {
	z-index: -10;
	position: absolute;
}

#card-section {
	margin-top: -10%;
	position: relative;
	z-index: 10;
}

#card1 {
	width: 90%;
	background-color: orange;
	margin: auto;
	background-image: url(../images/matts.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

#card2 {
	width: 90%;
	background-color: orange;
	margin: auto;
	background-image: url(../images/laurels.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

#card3 {
	width: 90%;
	background-color: orange;
	margin: auto;
	background-image: url(../images/barracks.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.card-info {
	padding-top: 10%;
}

.card-end {
	padding-bottom: 10%;
}


/* FOOTER SECTION */

#wba {
	display: block;
	margin: auto;
}

#listenFooter {
	width: 40%;
	display: block;
	margin: auto;
	margin-top: 4%;
}

/* CLEARFIX */

.clear {
	clear: both;
}


/* MEDIA QUERIES */
@media screen and (min-width: 320px) and (max-width: 996px) {

	#hidden-logo {
		height: 56px;
		width: 160px;
		margin-left: 0%;
		margin-top: 1%;
	}
}