html {
	background-color: ;
}

header {
	background-color: #000000;
}

p {
	margin-bottom: 2%;
}

#logo {
	display: block;
	margin: auto;
	width: 70%;
}

#logo-line {
	padding-top: 1%;
}

#listen {
	display: block;
	width: 40%;
	float: right;
	margin: 8% 10% 0 0 ;
}

#socialMedia {
	margin: 8% 0 0 10%;
}

.socialIcons {
	width: 10%;
}

nav {
	margin-top : -1%;
}

#nav-center ul {
	text-align: center;
}

#nav-center ul li {
	float: none;
	display: inline;
}

#nav-center ul li a {
	display: inline-block;
}


#homeinfo {
	width: 70%;
	display: block;
	margin: auto;
}


#wba {
	display: block;
	margin: auto;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.clear {
	clear: both;
}